<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>

    <!--This first lesson-->

    <!-- <div id="app">
        <input type="text" v-on:input="changeName">

        <h1>
            {{name}}
        </h1>
        <input type="name" v-on:input='colors'>
        <h3>{{surname}}</h3>
        <h3>Number: {{50+20}}</h3>
        <h1> Number: {{number}}</h1>
        <h2>Function: {{sayAnything()}}</h2>
        <h1> If statment: {{olver ? 'That is answer' : 'that is not answer'}}</h1>
        <h1>Functions: {{string.split('').reverse().join()}}</h1>

    </div> -->

    <!--This second Lesson-->
    <!-- <div id="app">
        <h2>
            <a v-bind:href="url">{{url}}</a>
            <a v-bind:href="Telegram">{{Telegram}}</a>
            

        </h2> -->
    <!-- </div> -->

    <!--This third lesson-->

    <!-- <div id="app">
        <h2>
            <a v-html="link"></a>

        </h2>
    </div> -->

    <!--This fourth lesson-->

    <!-- <div id="app">
        <h3>{{counter}}</h3>
        <button v-on:click="RiseCounter">Click</button>
        <hr>
        <h3>{{counter2}}</h3>
        <button v-on:mouseover='hover' v-on:click="counter2++">Click</button>
    </div> -->

    <!--This fifth lesson-->
    <!-- <div id="app">
        <h1> {{Divison}}={{adder}}</h1>
        <button v-on:click="RiseNumber(5,$event) ">adding 5</button>
        <button v-on:click="RiseNumber2(10,$event)">adding 10</button>
    </div> -->

    <!--This sixth lesson-->

    <!-- <div id="app">
        <h1>
            <a href="https:/google.com" target="blank">Google</a>
        </h1>
        <h1 v-on:mousemove="moverhandle">X: {{X}} / Y:{{Y}} <span v-on:mousemove.stop="">stop</span></h1>
        

    </div> -->


    <!--This seventh lesson-->

    <!-- <div id="app">
        <input type="text" v-on:keyup.enter="alertcall">
    </div> -->

    <!--This eighth lesson-->

    <!-- <div id="app">
        <h1>
            <a :href="url">Google</a>
        </h1>
        <h2>
            {{sanash}}
        </h2>
        <button @click="sanash++">Sanang</button>
    </div> -->

    <!-- This ninth lesson-->

    <!-- <div id="app"> -->
    <!-- <input type="text" @input="inputform =$event.target.value" :value="inputform"> -->
    <!-- <input type="text" v-model="inputform"> -->
    <!-- <input type="text" v-model="inputform">
        <h2>
            {{inputform}}
        </h2>
    </div> -->


    <!-- This tenth lesson-->

    <!-- <div id="app"> -->


    <!-- <div class="circle" @click="isActive = !isActive" :class="{'red': isActive, 'green': !isActive}"></div>  bu birinchi html kornishi-->
    <!-- <div class="circle" @click="isActive = !isActive" :class="getCssClasses"></div> -->

    <!-- <div class="circle" :class="color"></div> bu birinchisi -->
    <!-- <div class="circle" :class="[color, {'red':isActive }]"></div>
        <input type="text" v-model="color"> -->

    <!-- </div>

    </div> -->

    <!--This eleventh lesson -->

    <!-- <div id="app">
        <div class="circle" :style="{'background':color, 'height': height + 'px', 'width': width + 'px'}"></div> bu birinchi html  ko'rnishi  -->
    <!-- <div class="circle" :style="circleClass"></div> -->
    <!-- <div class="circle" :style='[circleClass,]'></div> bunga arrayga width bilan bitta qilib yozsa bualdi -->
    <!-- <hr>
        <p>color</p>
        <input type="text" v-model="color">
        <p>Height</p>
        <input type="text" v-model="height">
        <p>width</p>
        <input type="text" v-model="width">

    </div> -->


    <!--This twelveth lesson-->

    <!-- <div id="app"> -->
    <!-- <h1 v-if="Visible">Awesome</h1>
        <h1 v-else>Oh no</h1> Bu birinchi ko'rnishi -->
    <!-- <h2 v-if="type === 'a' ">A</h2>
        <h2 v-else-if-="type === 'b' ">B</h2> 
        <h2 v-else-if="type === 'a' ">C</h2>
        <h2 v-else>none</h2>
        <hr>
        <input type="text" v-model="type">  Bu ikkinchisi-->

    <!-- <template v-if="Visible">
            <h2>Title name</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, repudiandae.</p>
        </template>

        <template v-else>
            <h2 style="color:red">Title name</h2>
            <p style="color:blue">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic, provident.</p>
        </template>

    </div> -->

    <!--This thirteenth lesson-->

    <!-- <div id="app"> -->

    <!-- <h1 v-if="isVisibel">I am visible!</h1>
            <h2 v-else>i am not visible!</h2> -->

    <!-- <h2 v-show="isVisibel">you can see me </h2>
            <h2 v-show="!isVisibel">you can not see me</h2>

            <hr>

            <button @click="isVisibel= !isVisibel">toggle</button>
        </div> -->

    <!--This fourteenth lesson-->

    <!-- <div id="app"> -->
    <!-- <ul>
                <li>{{people[0] }}</li>
                <li>{{people[1] }}</li>
                <li>{{people[2] }}</li>
                <li>{{people[3] }}</li>
                <li>{{people[4] }}</li>
            </ul> Bu oddiy kornishi-->

    <!-- 
            <ul>
                <li v-for="person in people">
                    {{person}}
                </li>
            </ul> Bu qisqasi tepadgni -->

    <!-- <ul>
                <li v-for="(person,index) in people">{{index + 1}} {{person}}</li>
            </ul> Bunda index qo'shib orqali nomerlar qosha olamiz-->
    <!-- <ul>
                <li v-for="(person, index) in people">
                    {{index + 1 }}. {{person.name}} -<b> {{person.age}}</b>
                </li>
            </ul>

            <hr>

            <ol>
                <li v-for="num in worker">{{num}}</li>
            </ol>

        </div> -->

    <!-- This fifteenth lesson and 16 lesson-->

    <!-- <div id="app">
        <h1>
            Counter {{counter}}
        </h1>
        <h3>
            {{condintion}}
        </h3>


        <button @click="changing">Add</button>
        <button @click="changing2">Add</button>
        <h4>
            {{result()}}
        </h4>
        <p>
            {{last}}
        </p>
    </div> -->

    <!--This seventeeth lesson-->

    <!-- <div id="app">
        <h2>
            {{title}}
        </h2>
        <h4>
            {{newfield}}
        </h4>
        <button @click="subject = 'you are clever' ">creating</button>
    </div>
    <hr>
    <div id="app2">
        <h1>
            {{title}}
        </h1>

        <button @click="salom">New</button>
    </div> -->

    <!--This eighteenth lessson-->

    <!-- <div id="app">
        <h1 ref='heading'>
            {{
                text
            }}
        </h1>
        <hr ref="horeLine">
        <button @click="Update">hekko</button>

    </div> -->

    <!--This nineteenth lesson-->
    <!-- 
    <div id="app">
        <h2>
            {{title}}
        </h2>
    </div> -->

    <!--This twenty lesson-->

    <!-- <div id="app">

        <h1>
            {{title}}
        </h1>

        <button @click="title ='change title'">change</button>
        <button @click="doDestroy">Destroy</button>

    </div> -->

    <!--This twenty first lesson-->

    <!-- <div id="app"> -->

    <!--Bu htmlda kornishi -->

    <!-- <div style="border: 2px solid black; padding: 10px;">
            <h1>
                Counter: {{counter}}
            </h1>
            <button @click="counter++">Add to counter</button>
        </div> -->

    <!--Bu component kornishi qisqa tepadgai bilan bir hil buning qulaylgi bita kod bilan kop tarmoq qesa buladi-->
    <!-- 
        <my-counter v-for="c in 1 "></my-counter>
        <my-counter></my-counter>


    </div> -->

    <!--This block 4 lesson three-->

    <div id="app">
        <my-counter v-for="c in 2"></my-counter>
    </div>


    <hr>

    <div id="app2">
        <my-counter></my-counter>
    </div>






    <script src=" https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"> </script>
    <script src="./app.js">
    </script>

</body>

</html>